body {
    text-align: center;
    background-color: #87CEFA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
}

.container-fluid {
    width: 50%;
    margin-top: 15%;
    padding-bottom: 1%;
}